/*Header Styling*/
h1 {
    color: #000;
    text-align: center;
    font-size: 50px;
}


.container-fluid{
  height:5000px;
  width: 700px;
  background-color:black;
  padding-top: 0px;
}


/*Login page size*/
.login-page {
    width: 50px;
    padding: 8% 0 0;

}
.title{
    font-size:20px;
    color: ‎#000;
    text-align: center;
}

/*Styling the form*/
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/*Styling the input area*/
.form input {
    font-family:normal;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
/*Styling the form button*/
.form button {
    /*font-family: "Roboto", sans-serif;*/
    /*text-transform: uppercase;*/
    outline: 0;
    background:pink;
    width: 100%;
    border: 0;
    padding: 15px;
    color: red;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background:black;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}


.form .register-form {
    display: none;
}

/*Styling the output */
#results{
    color:white;
    font-family: italic;
    font-size:15px;
    text-align: center;
}

/*Styling background image*/
body {
  background-color: red;
}
